@import url(reset.css);

p{
    color: blueviolet;
}

h2{
    color: firebrick;
}

span,
h2{
    color: yellowgreen;
}
a{
    color: silver;
}

ul{
    color: darkgoldenrod;
}

li{
    color: blue;
}
#car{
    color: darkorange;
}

.about .raw{
    color: indigo;
}



img{
    max-width: 500px;
}

