@import url(reset.css);

@import url(fonts.css);



.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;         
	flex-direction: column;
}

.wrapper > main {
	flex-grow: 1;
}

.main {
	padding-top: 120px;
}

[class*="_container"] {
	max-width: 1270px;
	margin: 0 auto;
	padding: 0 15px;
}

h3 {
	color: #3C4242;
	font-family: 'Core Sans C';
	font-size: 28px;
	font-weight: 600;
	line-height: 33.5px;
	letter-spacing: 0.56px;
	margin-bottom: 38px;
}


/* Header */

.header {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 50;
	width: 100%;
	border-bottom: 1px solid #BEBCBD;
	background: rgba(255, 255, 255);
}

.header__container {
	min-height: 111px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	padding: 5px 0;
	
}

.header__search {
	padding: 14px 48px;
	text-align: center;
}
.search-form {
	border-radius: 8px;
	background-color: #F6F6F6;
	font-size: 18px;
    font-family: "Causten";
    font-weight: 400;
}

.search-form__lupe{
    position: relative;
    display: inline-block;
    padding-left: 32px;
    font-size: 18px;

}

.search-form__lupe::before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
	height: 20px;
	background-image: url('../img/svg/search.svg');
	background-repeat: no-repeat;
	background-position: center;
}

.header__cabinet {
	display: flex;
	align-items: center;
	gap: 60px;
	font-size: 18px;
    font-family: "Causten";
    font-weight: 500;
}
.header__login {
	display: flex;
	gap: 29px;
}
.butoon {
	padding: 13px 48px;
	border-radius: 8px;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	cursor: pointer;
	transition: 0.5s;
    color: #8A33FD;
    border: 1px solid #000;
}

.butoon:hover {
	background: #8A33FD;
    transition: 0.5s;
    color: #FFFFFF;
}


/********** main ************/

.categories {
	padding: 50px 0px;
    
}

h2 {
	color: #3C4242;
	font-family: 'Core Sans C';
	font-size: 34px;
	font-weight: 600;
	line-height: 33.5px;
	letter-spacing: 0.68px;
	margin-bottom: 70px;
}

h2::before {
	content: "";
	display: inline-block;
	width: 6px;
	height: 30px;
	background-color: #8A33FD;
    margin-right: 20px;
    border-radius: 10px;
	
}

.cat__man {
	max-width: 1270px;
	margin: 0 auto;
	padding: 0px 15px;
}

.cloathing{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -25px;
}

.cloathing__block{
    padding: 0px 25px;
    flex-grow: 0;
    flex-shrink:0;
    margin-bottom: 40px;
}

.cloathing-text__title {
	color: #2A2F2F;
	font-family: 'Causten';
	font-size: 17.875px;
	font-weight: 700;
	line-height: 27.93px; 
	letter-spacing: -0.715px;
	margin-bottom: 3.9px;
	transition: 0.5s;

	flex-grow: 1; 
	cursor: pointer;		
}
.cloathing-text__title:hover {
	color: #8A33FD;
}
.cloathing-text__title:not(:last-child){
	margin-bottom: 10px;
}

.cloathing__block-text {
	color: #7F7F7F;
	font-family: 'Causten';
	font-size: 13.407px;
	font-weight: 500;
	line-height: 27.93px;
	letter-spacing: -0.536px;
}

.cloathing-text__category{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cloathing__style img{
    margin-bottom: 16px;
}


/*************** wishlist ****************/

.wishlist {
	padding: 50px 0px;
}

.wish__container {
	max-width: 925px;
	margin: 0 auto;
	padding: 0px 15px;
}

.wishlist__prodact {
	display: flex;
	justify-content: space-between;
}

.prodact-add__cart {	
	display: flex;
	transition: 0.5s;
}
.prodact-add__cart img {
	margin-right: 36px;
}
.prodact-add__cart:hover {
	opacity: 0.8;
}
.prodact-add__cart::before {
	content: '';
	display: inline-block;
	width: 22px;
	height: 22px;
	background: url(../img/svg/close_cross.svg) center no-repeat;
	margin: 30px 36px 30px 0;
    cursor: pointer;
}

.wishlist span {
	color: #807D7E;
	font-family: 'Causten';
	font-size: 22px;
	font-weight: 500;
	letter-spacing: 0.44px;
}
.prodact-add__detail:last-child {
	margin-bottom: 0px;
}
.prodact-add__detail {
	padding: 3px 0px 0px 0px;
}

.prodact-add__name {
	color: #3C4242;
	font-family: 'Causten';
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 0.44px;
	margin-bottom: 12px;
}

.prodact-add__color {
	color: #3C4242;
	font-family: 'Causten';
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 0.44px;
	margin-bottom: 12px;
}
.prodact-add__quantity {
	color: #3C4242;
	font-family: 'Causten';
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 0.44px;
}

.wishlist__prodact-add {
	display: flex;
}
.wishlist__prodact-add p {  
	margin-right: 50px;
	color: #807D7E;
	font-family: 'Causten';
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 0.44px;
	display: flex;
	align-items: center;
}
.total__add-butoon {
	padding: 14px 28px;
	border-radius: 8px;
	background: #8A33FD;
	width: 143px;
	height: 50px;
	text-align: center;
	color: #FFF;
	font-family: 'Causten';
	font-size: 18px;
	font-weight: 500;
	display: flex;
	align-items: center;
	margin: 30px 0;
	transition: 0.5s;
}
.total__add-butoon:hover {
	
	background: #a45fff;
}


/******* my order **********/
.myorder{
	padding: 50px 0px;
    max-width: 925px;
    margin: 0 auto;
    padding: 0px 15px;
	
}

.prodact-add__detail-tho{
	font-size: 14px;
}
.prodact-add__detail-tho span{
	font-size: 14px;
}

.myorder__status{
    display: flex;
    justify-content: space-between;
	margin-bottom: 50px;
	border-bottom: 3px solid #F6F6F6;
}

.myorder__status-active{
    width: 176px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3C4242;
    font-size: 22px;
    font-family: Core Sans C;
    font-weight: 500;
    line-height: 33.50px;
}

.myorder__status-active:hover{
    max-width: 176px;
    max-height: 56px;
    border-bottom: 2px solid black;
    background: #F6F6F6;
    cursor: pointer;
	border-radius: 10px 10px 0px 0px;
}

.active__order {
	padding: 28px 47px;
	margin-bottom: 30px;
	border-radius: 8px;
	background-color: #F6F6F6;
}
.order h4 {
	color: #3C4242;
	font-family: "Core Sans C";
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 14px;
}
.order__detail {
	display: flex;
	justify-content: space-between;
	color: #807D7E;
	font-family: 'Causten';
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 7px;
}

.order__date {
	display: flex;
	justify-content: space-between;
	color: #807D7E;
	font-family: 'Causten';
	font-size: 14px;
	font-weight: 600;
}

.order {
	padding: 28px 47px;
	margin-bottom: 30px;
	border-radius: 8px;
	background-color: #F6F6F6;
}

.myorder__wishlist {
	padding: 30px 0px;
	border-bottom: 3px solid #F6F6F6;
}

.myorder__wishlist:last-child{
	margin-bottom: 0px;
}


.myorder__wishlist-prodact {
	display: flex;
	justify-content: space-between;
}

.prodact-add__cart {	
	display: flex;
	transition: 0.5s;
}

.page-orders {
	padding: 50px 0px;
}

.page-orders__container {
	max-width: 925px;
	margin: 0 auto;
	padding: 0px 15px;
}

h3 {
	color: #3C4242;
	font-family: "Core Sans C";
	font-size: 28px;
	font-weight: 600;
	line-height: 33.5px; /* 119.643% */
	letter-spacing: 0.56px;
	margin-bottom: 38px;
}

.active__order {
	padding: 28px 47px;
	margin-bottom: 30px;
	border-radius: 8px;
	background-color: #F6F6F6;
}

.order h4 {
	color: #3C4242;
	font-family: "Causten";
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 14px;
}
.order__data {
	display: flex;
	justify-content: space-between;
	color: #807D7E;
	font-family: "Causten";
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 7px;
}
.order__delivery {
	display: flex;
	justify-content: space-between;
	color: #807D7E;
	font-family: "Causten";
	font-size: 14px;
	font-weight: 600;
}


.active__view {
	display: flex;
	justify-content: space-between;
}
.active:not(:last-child) {
	margin-bottom: 30px;
}

.prodact-wish__cart {
	display: flex;
}
.prodact-wish__cart img{
	width: 96px;
	height: 96px;
	border-radius: 4px;
	transition: 0.5s;
}
.prodact-wish__cart img:hover {
	opacity: 0.7;
}


.prodact-wish__detail {
	padding: 3px 0px;
	margin-left: 25px;
}

.detail__name-wish {
	color: #3C4242;
	font-family: "Causten";
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 10px;
}
span {
	color: #BEBCBD;
	font-family: "Causten";
	font-size: 14px;
	font-weight: 600;
}

.detail__color-wish,
.detail__quantity-wish {
	color: #3C4242;
	font-family: "Causten";
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 10px;
}



.detail__cash-wish {
	color: #807D7E;
	font-family: "Causten";
	font-size: 14px;
	font-weight: 600;
}



.cost__add-butoon {
	padding: 14px 28px;
	border-radius: 8px;
	background: #8A33FD;
	width: 143px;
	height: 50px;
	text-align: center;
	color: #FFF;
	font-family: 'Causten';
	font-size: 18px;
	font-weight: 500;
	display: flex;
	align-items: center;
	margin: 30px 0;
	transition: 0.5s;
}
.cost__add-butoon:hover {
	
	background: #a45fff;
}


