@import url(reset.css);


.wrapper{
  overflow: clip;
  min-height: 100%;
  width: 100%;
  position:absolute;
  margin: 0 auto;
  background: url(../img/city_landscape.png) 0 0 repeat-x;
  animation: run;
  animation-duration: 3.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-size: 50%;
}

@keyframes run {
  0% {
     background-position: 0 0;
  }
  100% {
     background-position: 200% 0;
  }
}

.main{
  width:1200px;

}
/************** car ***************/

.car{
  width:1200px;
  height: 700px;
  margin: 0 auto;
  position: relative;
   
}

.car__parts{
  width:1200px;
}

.part__body{
  width: 600px;
  height: 260px;
  background:rgb(163, 171, 4);
  border-radius: 50px 10px 0px 10px;
  position: absolute;
  left: 100px;
  bottom: 30px;
  z-index: 1;
}
.part__window{
  content: "";
  width: 50px;
  height: 80px;
  background: #f9f8f8;
  border-radius: 34% 66% 0% 100% / 100% 0% 100% 0%;
  position: absolute;
  left: 110px;
  bottom: 200px;
  z-index: 11;
  
}

.part__window-back{
  content: "";
  width: 150px;
  height: 80px;
  background: #ebe9e9;
  border-radius: 10px 50px 10px 10px;
  position: absolute;
  left: 520px;
  bottom: 200px;
  z-index: 10;
}
.part__window-medium {
  content: "";
  width: 150px;
  height: 80px;
  background: #ebe9e9;
  border-radius: 10px 10px 0px 0px;
  border: 1px solid #000;
  position: absolute;
  left: 350px;
  bottom: 200px;
  z-index: 20;
}

.part__window-front{
  content: "";
  width: 150px;
  height: 80px;
  background: #ebe9e9;
  border-radius: 20px 10px 0px 0px;
  position: absolute;
  left: 170px;
  bottom: 200px;
  z-index: 20;
  border: 1px solid #000;
}

@keyframes rotate {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.part__wheels-one{
  
  content: "";
  width: 70px;
  height: 70px;
  background: url(../img/rims1.png) 0 0 no-repeat;
  background-size: 100%;
  border-radius: 50%;
  position: absolute;
  left: 180px;
  bottom: 0px;
  z-index: 15;
  
  animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  
}

.part__wheels-tho{
 
  content: "";
  width: 70px;
  height: 70px;
  background: url(../img/rims1.png) 0 0 no-repeat;
  background-size: 100%;
  border-radius: 50%;
  position: absolute;
  left: 550px;
  bottom: 0px;
  z-index: 15;
  animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.door__front{
  content: "";
  width: 150px;
  height: 130px;
  background: #e9ebeb;
  border: 1px solid #000;
  position: absolute;
  right: 179px;
  top: 70px;

  background: rgb(163, 171, 4);
}

.parts__door-handle{
  content: "";
  width: 40px;
  height: 10px;
  border: 1px solid #000;
  border-radius: 10px;

  z-index: 15;
  position: absolute;
  right: 10px;
  bottom: 90px;
  
}

.key__hole{
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #000;
  position: absolute;
  right: 0;
  bottom: 2px;
}

.door-handle{
  content: "";
width: 40px;
height: 10px;
border: 1px solid #000;
border-radius: 10px;
z-index: 15;
position: absolute;
right: 10px;
bottom: 90px;

}


.door__passanger{
  content: "";
  width: 150px;
  height: 120px;
  background: #e9ebeb;
  border: 1px solid #000;
  position: absolute;
  left: -1px;
  top: 78px;
  z-index: 9;
  background: rgb(163, 171, 4);
}

.part__gas-hole{
 content: "";
 width: 20px;
 height: 20px;
 background: #129191;
 border: 1px solid #000;
 border-radius: 50%;
 position: absolute;
 left: 325px;
 bottom: 100px;
 z-index: 21;
 font-size: 10px;
   
  
}

.part__bumper{
  content: "";
  width: 40px;
  height: 20px;
  background: #030006;
  border-radius: 0 5px 5px 0px;
  position: absolute;
  right: 490px;
  bottom: 25px;
  z-index: 2;
}

.part__front-bumper{
  content: "";
  width: 40px;
  height: 20px;
  background: #030006;
  border-radius: 5px 0 0 5px;
  position: absolute;
  left: 90px;
  bottom: 25px;
  z-index: 2;
}

.part__head-light{
  content: "";
  width: 40px;
  height: 40px;
  background: #000800;
  border-radius: 0 25px 25px 0;
  position: absolute;
  left: 90px;
  bottom: 125px;
  z-index: 50;
}


.part__head-light-on{
  content: "";
  width: 100px;
  height: 100px;
  background: rgb(248, 244, 4);
  border-radius: 0% 100% 100% 0% / 100% 48% 52% 0% ;
  position: absolute;
  left: -10px;
  bottom: 95px;
  z-index: 4;
  visibility: hidden;

}

.part__back-light{
  content: "";
  width: 10px;
  height: 30px;
  background: #b70303;
  position: absolute;
  right: 500px;
  bottom: 125px;
  z-index: 50

}

.spare__passanger{
  content: "";
width: 100px;
height: 120px;
background: url(../img/kenny.png) no-repeat;
position: absolute;
left: 220px;
bottom: 200px;
background-size: 100%;
z-index: 50

}

.spare__passanger-tho{
animation-name: rotate;
animation-duration: 6s;
animation-delay: 2s;
content: "";
width: 100px;
height: 120px;
background: url(../img/kyle.png) no-repeat;
position: absolute;
right: 600px;
bottom: 280px;
background-size: 100%;
z-index: 50

}
.spare__tires{
  content: "";
  width: 100px;
  height: 140px;
  background: url(../img/запаска.png) no-repeat;
  position: absolute;
  right: 500px;
  bottom: 275px;
  background-size: 100%;
  z-index: 50

}




.part__head-light:hover ~ .part__head-light-on{
  visibility: visible;
}


.car__interaction{
  content: "";
  width: 1200px;
  height: 300px;
}
.move__ufo{
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  background: url(../img/ufo.png) no-repeat;
  background-size: 0%;
  transition-duration: 2.5s;
  transition-property: all;
  left: 400px;
  top: 20px;
  
}

.move__sun{
  content: "";
  width: 300px;
  height: 300px;
  background: url(../img/sun-cartoon.png) no-repeat;
  background-size: 70%;
  border-radius: 30%;
  animation-name: rotate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.car:hover .move__ufo{
 
  background-size: 100%;

}
